<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zzy.frank.www.citylove_master"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".PushApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.VisitActivity">
        </activity>
        <activity android:name=".activity.GuanZhuActivity">
        </activity>
        <activity android:name=".activity.PersonalInfoActivity">
        </activity>
        <activity android:name=".activity.ZhengyouIfActivity">
        </activity>
        <activity android:name=".activity.ShezhiActivity">
        </activity>
        <activity android:name=".activity.HomemmItemActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".activity.VIPActivity">
        </activity>
        <activity android:name=".activity.StartVIPActivity">
        </activity>
        <activity
            android:name=".activity.KefuChattingActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.ChattingActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".activity.SreachActivity">
        </activity>
        <activity android:name=".activity.PhotoActivity">
        </activity>
        <activity android:name=".activity.AdviseActivity">
        </activity>
        <activity android:name=".activity.ActivityAboutActivity">
        </activity>
        <activity android:name=".activity.AboutActivity">
        </activity>
        <activity android:name=".activity.TellThemActivity">
        </activity>

        <service android:name=".server.SendMsgORAddFriends"/>

        <receiver
            android:name=".server.AlarmReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ChattingSeePicActivity"/>
        <activity android:name=".activity.ScretVedioActivity">
        </activity>
        <activity android:name=".activity.VIPUpdateActivity">
        </activity>
        <activity android:name=".activity.PhoneVerifyActivity">
        </activity>
    </application>

</manifest>