<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zzy.frank.www.citylove_master"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".PushApplication"
        android:allowBackup="true"
        android:icon="@drawable/h7"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.VisitActivity">
        </activity>
        <activity android:name=".activity.GuanZhuActivity">
        </activity>
        <activity android:name=".activity.PersonalInfoActivity">
        </activity>
        <activity android:name=".activity.ZhengyouIfActivity">
        </activity>
        <activity android:name=".activity.ShezhiActivity">
        </activity>
        <activity android:name=".activity.HomemmItemActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".activity.VIPActivity">
        </activity>
        <activity android:name=".activity.StartVIPActivity">
        </activity>
        <activity android:name=".activity.KefuChattingActivity">
        </activity>
        <activity android:name=".activity.ChattingActivity">
        </activity>
        <activity android:name=".activity.SreachActivity">
        </activity>
        <activity android:name=".activity.PhotoActivity">
        </activity>
        <activity android:name=".activity.AdviseActivity">
        </activity>
        <activity android:name=".activity.ActivityAboutActivity">
        </activity>
        <activity android:name=".activity.AboutActivity">
        </activity>
        <activity android:name=".activity.GirlsPhotoActivity">
        </activity>
        <activity android:name=".activity.TellThemActivity">
        </activity>
    </application>

</manifest>